<tr>
    <td>{{time}}</td>
    <td title="{{id}}"><a href="/system/equivalence/result?uri={{encodedId}}">{{title}}</a></td>
    <td>{length({equivalences})}</td>
    <td>{{if hasStrong}}✔{{else}}✘{{/if}}</td>
</tr>